// .container {
//   position: relative;
//   text-align: center;
// }
// .image {
//   display: inline-block;
//   border-radius: 50%;
//   background-image: url("../../../../assets/mosque.jpg");
// }
// .text1 {
//   text-align: right;
//   color: #ffe3e3;
//   font-weight: bold;
//   font-family: "Calibri W02 Regular";
// }
// .text2 {
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   justify-content: center;
//   width: 100%;
//   font-weight: bold;
//   font-family: "Calibri W02 Regular";
//   color: #890909;
// }
// .rounded-bg {
//   background-color: #ffeaea;
//   border-radius: 50%;
//   display: flex;
// }

// @media  (max-width: 500px) {
//   .container {
//     width: 68px;
//     height: 100px;
//   }

//   .image {
//     width: 28px;
//     height: 28px;
//     background-size: 28px 28px;
//   }

//   .text1 {
//     position: absolute;
//     bottom: 24px;
//     left: 0px;
//     font-size: 14px;
//     width: 76px;
//     text-align: center;
//   }

//   .text2 {
//     font-size: 12px;
//   }

//   .rounded-bg {
//     position: absolute;
//     bottom: 48px;
//     right: 4px;
//     width: 36px;
//     height: 36px;
//   }

//   .ampm {
//     font-size: 8px;
//   }
// }

// @media (min-width: 500px) and (max-width: 600px) {
//   .container {
//     width: 88px;
//     height: 100px;
//   }

//   .image {
//     width: 48px;
//     height: 48px;
//     background-size: 48px 48px;
//   }

//   .text1 {
//     position: absolute;
//     bottom: 14px;
//     left: -38px;
//     font-size: 16px;
//     width: 88px;
//   }

//   .text2 {
//     font-size: 14px;
//   }

//   .rounded-bg {
//     position: absolute;
//     bottom: 32px;
//     right: 4px;
//     width: 48px;
//     height: 48px;
//   }

//   .ampm {
//     font-size: 12px;
//   }
// }

// @media (min-width: 600px) and (max-width: 900px) {
//   .container {
//     width: 120px;
//     height: 100px;
//   }

//   .image {
//     width: 48px;
//     height: 48px;
//     background-size: 48px 48px;
//   }

//   .text1 {
//     position: absolute;
//     bottom: 30px;
//     left: -22px;
//     font-size: 16px;
//     width: 88px;
//   }

//   .text2 {
//     font-size: 14px;
//   }

//   .rounded-bg {
//     position: absolute;
//     bottom: 32px;
//     right: 4px;
//     width: 48px;
//     height: 48px;
//   }

//   .ampm {
//     font-size: 12px;
//   }
// }

// @media (min-width: 900px) {
//   .container {
//     width: 180px;
//     height: 100px;
//   }

//   .image {
//     width: 60px;
//     height: 60px;
//     background-size: 60px 60px;
//   }

//   .text1 {
//     position: absolute;
//     bottom: 0;
//     left: -8px;
//     font-size: 26px;
//     width: 100px;
//   }

//   .text2 {
//     font-size: 20px;
//   }

//   .rounded-bg {
//     position: absolute;
//     bottom: 4px;
//     right: 26px;
//     width: 60px;
//     height: 60px;
//   }

//   .ampm {
//     font-size: 12px;
//   }
// }


