.container {
  position: relative;
  text-align: center;
  width: 188px;
  height: 128px;
}
.image {
  display: inline-block;
  width: 74px;
  height: 74px;
  background-color: #ffffff;
  border-radius: 50%;
}
.text1 {
  position: absolute;
  bottom: 0;
  left: -44px;
  text-align: right;
  font-size:36px;
  color:#ffe3e3;
  font-weight: bold;
  font-family: cursive;
  width: 138px;
}
.text2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  font-size: 24px;
  font-weight: bold;
  font-family: cursive;
  color:#890909;
}
.rounded-bg {
  position: absolute;
  bottom:4px;
  right: 4px;
  background-color: #ffeaea; /* Adjust background color as needed */
  border-radius: 50%; /* Adjust border radius as needed */
  display: flex;
  width: 88px;
  height: 88px;
}
.ampm{
  font-size: 16px;
}
