.background-container {
  background-image: url('../../../../assets/youthIftar.jpeg'); /* Adjust the path based on your project structure */
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  /* You can add more styling properties as needed */
}
