@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("./styles/colors.scss");
@import url("./styles//typography.scss");

body{
  margin: 0px;
}
@font-face {
	font-family: 'Calibri W02 Light';
	src: url('./fonts/frutiger/frutigerce45light.eot'); /* IE9 Compat Modes */
	src: url('./fonts/frutiger/frutigerce45light.eot?#iefix') format('embedded-opentype'),
		/* IE6-IE8 */ url('./fonts/frutiger/frutigerce45light.otf') format('opentype'),
		/* Open Type Font */ url('./fonts/frutiger/frutigerce45light.svg') format('svg'),
		/* Legacy iOS */ url('./fonts/frutiger/frutigerce45light.ttf') format('truetype'),
		/* Safari, Android, iOS */ url('./fonts/frutiger/frutigerce45light.woff') format('woff'),
		/* Modern Browsers */ url('./fonts/frutiger/frutigerce45light.woff2') format('woff2'); /* Modern Browsers */
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Calibri W02 italic';
	src: url('./fonts/frutiger/frutigerce55roman.eot'); /* IE9 Compat Modes */
	src: url('./fonts/frutiger/frutigerce55roman.eot?#iefix') format('embedded-opentype'),
		/* IE6-IE8 */ url('./fonts/frutiger/frutigerce55roman.otf') format('opentype'),
		/* Open Type Font */ url('./fonts/frutiger/frutigerce55roman.svg') format('svg'),
		/* Legacy iOS */ url('./fonts/frutiger/frutigerce55roman.ttf') format('truetype'),
		/* Safari, Android, iOS */ url('./fonts/frutiger/frutigerce55roman.woff') format('woff'),
		/* Modern Browsers */ url('./fonts/frutiger/frutigerce55roman.woff2') format('woff2'); /* Modern Browsers */
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Calibri W02 bold';
	src: url('./fonts/frutiger/frutigerce65bold.eot'); /* IE9 Compat Modes */
	src: url('./fonts/frutiger/frutigerce65bold.eot?#iefix') format('embedded-opentype'),
		/* IE6-IE8 */ url('./fonts/frutiger/frutigerce65bold.otf') format('opentype'),
		/* Open Type Font */ url('./fonts/frutiger/frutigerce65bold.svg') format('svg'),
		/* Legacy iOS */ url('./fonts/frutiger/frutigerce65bold.ttf') format('truetype'),
		/* Safari, Android, iOS */ url('./fonts/frutiger/frutigerce65bold.woff') format('woff'),
		/* Modern Browsers */ url('./fonts/frutiger/frutigerce65bold.woff2') format('woff2'); /* Modern Browsers */
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'Calibri W02 Regular';
	src: url('./fonts/frutiger/frutigerCE75black.eot'); /* IE9 Compat Modes */
	src: url('./fonts/frutiger/frutigerCE75black.eot?#iefix') format('embedded-opentype'),
		/* IE6-IE8 */ url('./fonts/frutiger/frutigerCE75black.otf') format('opentype'),
		/* Open Type Font */ url('./fonts/frutiger/frutigerCE75black.svg') format('svg'),
		/* Legacy iOS */ url('./fonts/frutiger/frutigerCE75black.ttf') format('truetype'),
		/* Safari, Android, iOS */ url('./fonts/frutiger/frutigerCE75black.woff') format('woff'),
		/* Modern Browsers */ url('./fonts/frutiger/frutigerCE75black.woff2') format('woff2'); /* Modern Browsers */
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Calibri W02 italic';
	src: url('./fonts/calibri/calibri-italic.eot');
	src: url('./fonts/calibri/calibri-italic.eot?#iefix') format('embedded-opentype'),
		url('./fonts/calibri/calibri-italic.woff2') format('woff2'),
		url('./fonts/calibri/calibri-italic.woff') format('woff'),
		url('./fonts/calibri/calibri-italic.ttf') format('truetype'),
		url('./fonts/calibri/calibri-italic.svg#calibri-italic') format('svg');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'Calibri W02 bold italic';
	src: url('./fonts/calibri/calibri-bolditalic.eot');
	src: url('./fonts/calibri/calibri-bolditalic.eot?#iefix') format('embedded-opentype'),
		url('./fonts/calibri/calibri-bolditalic.woff2') format('woff2'),
		url('./fonts/calibri/calibri-bolditalic.woff') format('woff'),
		url('./fonts/calibri/calibri-bolditalic.ttf') format('truetype'),
		url('./fonts/calibri/calibri-bolditalic.svg#calibri-bolditalic') format('svg');
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: 'Calibri W02 bold';
	src: url('./fonts/calibri/calibri-bold.eot');
	src: url('./fonts/calibri/calibri-bold.eot?#iefix') format('embedded-opentype'),
		url('./fonts/calibri/calibri-bold.woff2') format('woff2'),
		url('./fonts/calibri/calibri-bold.woff') format('woff'),
		url('./fonts/calibri/calibri-bold.ttf') format('truetype'),
		url('./fonts/calibri/calibri-bold.svg#calibri-bold') format('svg');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Calibri W02 Light';
	src: url('./fonts/calibri/calibri-light.eot');
	src: url('./fonts/calibri/calibri-light.eot?#iefix') format('embedded-opentype'),
		url('./fonts/calibri/calibri-light.woff2') format('woff2'),
		url('./fonts/calibri/calibri-light.woff') format('woff'),
		url('./fonts/calibri/calibri-light.ttf') format('truetype'),
		url('./fonts/calibri/calibri-light.svg#calibri') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Calibri W02 Regular';
	src: url('./fonts/calibri/calibri-regular.eot');
	src: url('./fonts/calibri/calibri-regular.eot?#iefix') format('embedded-opentype'),
		url('./fonts/calibri/calibri-regular.woff') format('woff'),
		url('./fonts/calibri/calibri.woff2') format('woff2'),
		url('./fonts/calibri/calibri-regular.ttf') format('truetype'),
		url('./fonts/calibri/calibri-regular.svg#calibri') format('svg');
	font-weight: normal;
	font-style: normal;
}

// Font Constants
$CalibriLight: 'Calibri W02 Light';
$CalibriItalic: 'Calibri W02 italic';
$CalibriBold: 'Calibri W02 bold';
$CalibriRegular: 'Calibri W02 Regular';

$legacySerifITC-Bk-It: 'Calibri W02 Regular';
$legacySerifITC-Bk: 'Calibri W02 Regular';
$legacySerifItalic: 'Calibri W02 Regular';
$legacySerifITC-Bk-Bold: 'Calibri W02 bold';

$FrutigerLight: 'Calibri W02 Light';
$FrutigerRoman: 'Calibri W02 italic';
$FrutigerBold: 'Calibri W02 bold';
$FrutigerBlack: 'Calibri W02 Regular';

// Only classes to apply

.header-1 {
	font-family: $legacySerifITC-Bk-It;
	// font-size: 34px;
	// letter-spacing: 0.25px;
	// line-height: 38px;
	font-size: 36px;
	letter-spacing: 0.25px;
	line-height: 30px;
}

.header-2 {
	font-family: $legacySerifITC-Bk;
	font-size: 24px;
	letter-spacing: 0.25px;
}

.header-3 {
	font-family: $legacySerifITC-Bk;
	font-size: 20px;
	letter-spacing: 0px;
}

.header-3-bold {
	font-family: $CalibriBold;
	font-size: 20px;
	letter-spacing: 0px;
}

.subtitle-1 {
	font-family: $CalibriRegular;
	font-size: 18px;
	letter-spacing: 0.25px;
}

.subtitle-2 {
	font-family: $CalibriRegular;
	font-size: 16px;
	letter-spacing: 0.1px;
}

.subtitle-3 {
	font-family: $CalibriBold;
	font-size: 16px;
	letter-spacing: 0.1px;
}

// making only button may not work everywhere
button {
	font-family: $CalibriBold;
	font-size: 16px;
	letter-spacing: 1.25px;
}

.button-text {
	font-family: $CalibriBold;
	font-size: 16px;
	letter-spacing: 1.25px;
}

.body-1 {
	font-family: $CalibriLight;
	font-size: 18px;
	letter-spacing: 0.5px;
}

.body-2 {
	font-family: $CalibriLight;
	font-size: 16px;
	letter-spacing: 0.1px;
}

.caption-1-bold {
	font-family: $CalibriBold;
	font-size: 14px;
	letter-spacing: 0.4px;
}

.caption-1 {
	font-family: $CalibriRegular;
	font-size: 14px;
	letter-spacing: 0.4px;
}

.caption-2 {
	font-family: $CalibriRegular;
	font-size: 12px;
	letter-spacing: 0.4px;
}

.caption-3 {
	font-family: $CalibriBold;
	font-size: 12px;
	letter-spacing: 0.4px;
}

.overline {
	font-family: $CalibriBold;
	font-size: 14px;
	letter-spacing: 2px;
}

.frutiger-roman {
	font-family: 'Calibri W02 italic' !important;
}

.frutiger-black {
	font-family: 'Calibri W02 Regular' !important;
}

.frutiger-light {
	font-family: 'Calibri W02 bold';
}

.frutiger-bold {
	font-family: 'Calibri W02 bold' !important;
}

.portal-heading {
	font-family: $FrutigerBlack !important;
}

.portal-sub-heading {
	font-family: $CalibriLight !important;
}

// Miscellanious
.calibri-font-bold {
	font-family: $CalibriBold !important;
}

.calibri-font-regular {
	font-family: $CalibriRegular !important;
}

.calibri-font-light {
	font-family: $CalibriLight !important;
}

.legacy-regular {
	font-family: $CalibriRegular;
}

.bold-text {
	font-family: $CalibriBold !important;
}
.legacy-bold {
	font-family: $CalibriBold, serif !important;
}

// Typography with Important

.header-1-important {
	font-family: $legacySerifITC-Bk-It !important;
	// font-size: 34px;
	// letter-spacing: 0.25px;
	// line-height: 38px;
	font-size: 36px !important;
	letter-spacing: 0.25px !important;
	line-height: 30px !important;
}

.header-2-important {
	font-family: $legacySerifITC-Bk !important;
	font-size: 24px !important;
	letter-spacing: 0.25px !important;
}

.header-3-important {
	font-family: $legacySerifITC-Bk !important;
	font-size: 20px !important;
	letter-spacing: 0px !important;
}

.header-3-bold-important {
	font-family: $CalibriBold !important;
	font-size: 20px !important;
	letter-spacing: 0px !important;
}

.subtitle-1-important {
	font-family: $CalibriRegular !important;
	font-size: 18px !important;
	letter-spacing: 0.25px !important;
}

.subtitle-2-important {
	font-family: $CalibriRegular !important;
	font-size: 16px !important;
	letter-spacing: 0.1px !important;
}

.subtitle-3-important {
	font-family: $CalibriBold !important;
	font-size: 16px !important;
	letter-spacing: 0.1px !important;
}

.button-text-important {
	font-family: $CalibriBold !important;
	font-size: 16px !important;
	letter-spacing: 1.25px !important;
}

.body-1-important {
	font-family: $CalibriLight !important;
	font-size: 18px !important;
	letter-spacing: 0.5px !important;
}

.body-2-important {
	font-family: $CalibriLight !important;
	font-size: 16px !important;
	letter-spacing: 0.1px !important;
}

.caption-1-bold-important {
	font-family: $CalibriBold !important;
	font-size: 14px !important;
	letter-spacing: 0.4px !important;
}

.caption-1-important {
	font-family: $CalibriRegular !important;
	font-size: 14px !important;
	letter-spacing: 0.4px !important;
}

.caption-2-important {
	font-family: $CalibriRegular !important;
	font-size: 12px !important;
	letter-spacing: 0.4px !important;
}

.caption-3-important {
	font-family: $CalibriBold !important;
	font-size: 12px !important;
	letter-spacing: 0.4px !important;
}

.overline-important {
	font-family: $CalibriBold !important;
	font-size: 14px !important;
	letter-spacing: 4px !important;
}
